# ===========================================
# Quest Engine V2 - Environment variables
# ===========================================

# --- Database --- #
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# --- Spring --- #
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/DB_NAME
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# --- JWT --- #
JWT_SECRET=

# --- Admin --- #
ADMIN_RESET_SECRET=

